body {
	margin:0;
	padding:0;
	font-family: Sans-Serif;
	line-height: 1.5em;
}

header {
	background: #61b8ec;
	height: 100px;
}
	
header h1 {
	margin: 0;
	padding-top: 15px;
}
		
main {
	padding-bottom: 10010px;
	margin-bottom: -10000px;
	float: left;
	width: 100%;
}

nav {
	padding-bottom: 10010px;
	margin-bottom: -10000px;
	float: left;
	width: 230px;
	margin-left: -230px;
	background: #eee;
}
	
footer {
	clear: left;
	width: 100%;
	background: #8ce2df;
	text-align: center;
	padding: 4px 0;
}
	
#wrapper {
	overflow: hidden;
}
				
#content {
	margin-right: 230px; /* Same as 'nav' width */
}
	
.innertube {
	margin: 15px; /* Padding for content */
	margin-top: 0;
}

.striked {
	text-decoration: line-through;
}

p {
	color: #555;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
		
nav ul a {
	color: teal;
	text-decoration: none;
}

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	border-radius: 10px;
	border-spacing: 0;
	text-align: center;
}
th {
	background: #8ce2df;
	color: white;
	text-shadow: 0 1px 1px #2D2020;
	padding: 10px 20px;
}
th, td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
}
th:first-child, td:first-child {
	text-align: left;
}
th:first-child {
	border-top-left-radius: 10px;
}
th:last-child {
	border-top-right-radius: 10px;
	border-right: none;
}
td {
	padding: 10px 20px;
}
tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}
tr td:last-child {
	border-right: none;
}